.logo-mobile {
  display: none;
}

.logo-desktop {
  display: block;
}

@media (max-width: 768px) {
  .logo-mobile {
    display: block;
  }

  .logo-desktop {
    display: none;
  }
}

footer {
  padding: 2rem 0 1rem 0;
  text-align: center;

  p, p>* {
    font-size: 0.75rem;
    color: #A1A7BB;

    a {
      text-decoration: underline;
    }
  }
}