<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% block head %}
    <title>{{ title }}</title>
    {% endblock %}
    <link rel="stylesheet" href="/index.css">
    <script src="/index.js" defer></script>
</head>
<body>
<header class="container">
{% render 'server/components/header/header.liquid' %}
</header>
<main>
    {% block content %}{% endblock %}
</main>
<footer>
    <p>Powered by <a href="https://www.coingecko.com/en/api" target="_blank">CoinGecko API</a></p>
</footer>
<button class="scroll-to-top" aria-label="Scroll to top">
    {% include 'server/icons/caret-up.svg' %}
</button>
</body>
</html>
