<nav>
    <a href="/">
        <h1 class="sr-only">{{ title }}</h1>
        {% render 'server/icons/coinly-logo.svg' %}
        {% render 'server/icons/coinly-logo-small.svg' %}
    </a>
    {% render 'server/components/search-bar/search-bar' %}
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/favorites">Favorites</a>
        </li>
    </ul>
</nav>